.home-container {
  background: linear-gradient(#00b4ff, #0e85ff);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
.logo {
  height: 80px;
  width: 230px;
  /* border: 1px solid; */
  margin: 50px 0px;
}
.nav-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  /* outline: black; */
  /* outline-offset: 0px 0px; */
  /* outline-style: solid; */
  
}
