* {
  font-family: "Open Sans", sans-serif;
}
/* .passManager-main{
  background-color: #3c4857;
} */
.header {
  background-color: #0081ff;
  height: 80px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 20px;
}
.web-header {
  display: none;
}
.header-1 {
  /* border: 1px solid red; */
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-2 {
  /* border: 1px solid brown; */
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-img {
  /* border: 1px solid red; */
  height: 20px;
  width: 25px;
}
.header-img2 {
  /* border: 1px solid red; */
  height: 35px;
  width: 100px;
}
.header-img3 {
  /* border: 1px solid red; */
  height: 28px;
  width: 30px;
}
.sub-header {
  /* border: 1px solid; */
  height: 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 15px;
  position: relative;
}
.sites-text {
  font-size: 1.6rem;
  font-weight: 600;
  color: #3c4857;
}
.sites-border {
  border: 3px solid #ffa136;
  width: 30px;
  border-radius: 2px;
  position: absolute;
  bottom: 30px;
}
.sub-header-1 {
  /* border: 1px solid #ffa136; */
  font-size: 1.2rem;
  font-weight: 500;
  color: #3c4857;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 35%;
}
.circle {
  background-color: #0081ff;
  color: white;
  border-radius: 60px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}
.addSite-Btn {
  height: 50px;
  width: 50px;
  right: 50px;
  bottom: 100px;
  position: fixed;
}
.web-sideBar {
  display: none;
}
.search-bar {
  display: none;
}
.card-container {
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 15px;
  gap: 15px;
  background-color: #fafafa;
}
.card {
  /* place-items: center; */
  /* display: grid; */
  /* border: 1px solid; */
  height: 140px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.card-innerDiv1 {
  /* border: 1px solid; */
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.card-innerDiv1 p {
  font-size: 1.2rem;

  font-weight: 600;
  /* border: 1px solid; */
  color: #0081ff;
  text-align: right;
}
.card-innerDiv1 span {
  /* border: 1px solid; */
  color: #0081ff;
  margin-left: 10px;
}
.website-text {
  /* border: 1px solid; */
  color: #0081ff;
  text-align: center;
  background-color: #fafafa;
  width: 100%;
  height: 24%;
  padding-top: 6px;
  box-sizing: border-box;
  border-end-start-radius: 15px;
  border-end-end-radius: 15px;
  position: absolute;
  bottom: -18px;
}
.addSite-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  background-color: white;
  width: 90%;
  height: 85%;
  border-radius: 10px;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.addSite-text {
  color: #3c4857;
  font-weight: 600;
  font-size: 1.8rem;
  /* border: 1px solid; */
}
.label {
  color: #949ca5;
  font-size: 1.3rem;
  margin: 20px 0px;
}
.addsite-input {
  border: 0px;
  background: #fafafa;
  height: 45px;
  border-radius: 6px;
  /* margin-top: 10px; */
}
.addsite-input:focus {
  outline: none;
}
.btns-div {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.btn {
  width: 180px;
  height: 60px;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: 500;
}
.reset-btn {
  background-color: white;
  color: #0081ff;
  border: 3px solid #0081ff;
}
.save-btn {
  background-color: #0081ff;
  color: white;
  border: 3px solid #0081ff;
}
.cancel-Btn {
  position: absolute;
  right: -20px;
  top: -20px;
  transform: rotate(45deg);
}
/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
@media screen and (min-width: 900px) {
  .header {
    display: none;
  }
  .sub-header {
    position: absolute;
    /* border: 1px solid; */
    top: 180px;
    left: 200px;
    flex-direction: column;
  }
  .sites-text {
    font-size: 2rem;
  }
  .sites-border {
    bottom: 15px;
    width: 35px;
  }
  .sub-header-1 {
    /* border: 1px solid #ffa136; */
    font-size: 1.6rem;
    /* font-weight: 500; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 230px;
  }
  .circle {
    font-weight: 600;
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
  }
  .passManager-main {
    background-color: #fafafa;
    display: flex;
    /* min-height: 100vh; */
  }
  .web-sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 150px;
    background-color: #0081ff;
    position: relative;
  }
  .header-img {
    height: 30px;
    width: 45px;
    margin: 50px;
  }
  .home-img {
    /* height: 30px; */
    width: 50px;
    margin: 55px;
  }
  .home-border {
    border: 3px solid #ffa136;
    height: 80px;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    top: 170px;
  }
  .home-circle {
    background-color: #ffa043;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    right: -10px;
    top: 200px;
  }
  .web-header {
    display: flex;
    background-color: #f5f7fb;
    height: 160px;
    width: 100%;
    align-items: center;
    padding: 0px 80px;
    justify-content: space-between;
    border-bottom: 3px solid white;
  }
  .addSite-Btn {
    right: 100px;
    top: 210px;
    position: absolute;
  }
  .search-bar {
    display: flex;
    border-bottom: 2px solid #0081ff;
    position: absolute;
    right: 180px;
    top: 210px;
    width: 245px;
    height: 30px;
    padding: 10px 0px;
  }
  .search-input {
    color: #3c4857;
    width: 90%;
    font-size: 1.3rem;
    border: 0px;
    background-color: #fafafa;
  }
  .search-input:focus {
    outline: none;
  }
  .search-input::placeholder {
    font-size: 1.3rem;
    padding-left: 2px;
  }
  .card-container {
    /* border: 1px solid red; */
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    /* padding: 0px; */
    gap: 30px;
    position: absolute;
    /* z-index: 1; */
    top: 350px;
    left: 200px;
    overflow: scroll;
    /* min-width: 100vw; */
    height: 64vh;
  }
  .card {
    place-items: center;
    display: grid;
    /* border: 1px solid; */
    width: 400px;
    height: 10rem;
  }
  .btns-div {
 
    justify-content: flex-end;
    gap: 20px;
  
  }
}
@media screen and (min-width: 1050px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    left: 200px;
    overflow: scroll;
    height: 60vh;
  }
}
@media screen and (min-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    height: 60vh;
  }
}
@media screen and (min-width: 2000px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
    left: 300px;
    height: 60vh;
  }
}
